# Server
PORT=8080
NODE_ENV=development

# Database
DATABASE_URL=postgres://mumix:***@localhost:5432/mumix_db?sslmode=disable

# Auth
JWT_SECRET=your-s...n
# WebAuthn
RP_ID=localhost
ORIGIN=http://localhost:3000

# CORS
FRONTEND_URL=http://localhost:3000
